#root {
	z-index: 0;
	width: 1920px;
	height: 2376px;
}

*.mobile {
	display: none;
}

body[data-device-type="mobile"] #root {
	width: 768px;
	height: 3132px;
}

body[data-device-type="mobile"] *.pc {
	display: none !important;
}

.bg-img {
	position: absolute;
	top: 0;
	left: 0;
}
