#frame1-container {
	width: 1920px;
	height: 1080px;
	position: relative;
}

#frame1-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#header-pc {
	top: 20px;
	left: 50%;
	translate: -50% 0;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 1820px;
}

#header-pc > nav {
	display: flex;
	gap: 13px;
	position: relative;
	z-index: 100;
}

#header-pc > nav > div {
	background-image: url("./assets/select_language_bg.png");
	width: 167px;
	height: 188px;
	position: absolute;
	right: -5px;
	top: 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#header-pc > nav ul {
	list-style: none;
	padding: 0;
}

#header-pc > nav ul li {
	margin: 0;
	padding: 0;
}

#header-pc .language__item a {
	text-align: center;
	width: 165px;
	padding: 6px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.language__item:hover {
	background: #807a7a;
}

#header-pc > nav ul a {
	font-family: RobotoCondensed-Regular;
	display: block;
	width: 100%;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	padding-block: 2px;
	text-decoration: none;
	color: white;
}

#header-pc > nav > div > a[data-selected] {
	font-weight: bold;
}

#header-pc > nav > div > a:hover {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.2);
}

h1 {
	position: absolute;
	left: 523px;
	bottom: 203px;
}

#frame1-cta {
	width: 335px;
	height: 88px;
	position: absolute;
	bottom: 96px;
	left: 793px;
	font-size: 28.75px;
	color: rgb(119, 76, 35);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* responsive */
body[data-device-type="mobile"] #frame1-container img.mobile {
	display: block;
}

body[data-device-type="mobile"] #frame1-container {
	width: 768px;
	height: 1350px;
	position: relative;
}

body[data-device-type="mobile"] h1 {
	left: 0;
	bottom: 185px;
}

body[data-device-type="mobile"] #frame1-cta {
	bottom: 71px;
	left: 50%;
	translate: -50%;
}

body[data-device-type="mobile"] #mobile-extra-top {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 120px;
	width: 768px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 12px;
}
